@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    font-family: "Lato", sans-serif;
    color: white;
}

.hide-scrollbar::-webkit-scrollbar
{
    display: none;
}

@font-face {
    font-family: "ozard";
    src: url(../public/ozard.otf);
}

.font-ozard
{
    font-family: "ozard";
}